<a href="https://colab.research.google.com/github/Abhishek95781/UIDAI/blob/main/UIDAI_biometric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
bio_1 = pd.read_csv('/content/api_data_aadhar_biometric_0_500000.csv')
bio_2 = pd.read_csv('/content/api_data_aadhar_biometric_1000000_1500000.csv')
bio_3 = pd.read_csv('/content/api_data_aadhar_biometric_1500000_1861108.csv')
bio_4 = pd.read_csv('/content/api_data_aadhar_biometric_500000_1000000.csv')

**MERGE **

In [2]:
biometric = pd.concat(
    [bio_1, bio_2, bio_3, bio_4],
    ignore_index=True
)

**CONVERT DATE COLUMN**

In [3]:
biometric['date'] = pd.to_datetime(
    biometric['date'],
    dayfirst=True,
    errors='coerce'
)

**Create total biometric count**

In [4]:
biometric['total_biometric'] = (
    biometric['bio_age_5_17'] + biometric['bio_age_17_']
)

**GROUPBY (Univariate)**

In [5]:
biometric.groupby('state')['total_biometric'].sum()

state
Andaman & Nicobar Islands                      2384
Andaman and Nicobar Islands                   18314
Andhra Pradesh                              3714592
Arunachal Pradesh                             72394
Assam                                        982722
Bihar                                       4897587
Chandigarh                                    74482
Chhatisgarh                                       5
Chhattisgarh                                2648729
Dadra & Nagar Haveli                            553
Dadra and Nagar Haveli                        27235
Dadra and Nagar Haveli and Daman and Diu       2532
Daman & Diu                                    2185
Daman and Diu                                  6763
Delhi                                       1304362
Goa                                           68397
Gujarat                                     3196514
Haryana                                     1635454
Himachal Pradesh                             396234
Jammu & Kashmir                                 429
Jammu and Kashmir                            791218
Jharkhand                                   2026297
Karnataka                                   2635954
Kerala                                      1609730
Ladakh                                         5763
Lakshadweep                                    4820
Madhya Pradesh                              5923771
Maharashtra                                 9226139
Manipur                                      282587
Meghalaya                                     87626
Mizoram                                      120329
Nagaland                                     109593
ODISHA                                           34
Odisha                                      2402827
Orissa                                        62083
Pondicherry                                   27587
Puducherry                                    42321
Punjab                                      1739671
Rajasthan                                   3994955
Sikkim                                        22820
Tamil Nadu                                  4698117
Tamilnadu                                         1
Telangana                                   1737654
Tripura                                      292155
Uttar Pradesh                               9577735
Uttarakhand                                  764763
Uttaranchal                                       2
WEST BENGAL                                      37
WESTBENGAL                                       12
West  Bengal                                     28
West Bangal                                      54
West Bengal                                 2524448
West bengal                                      20
Westbengal                                       19
andhra pradesh                                   41
odisha                                           16
west Bengal                                       1
Name: total_biometric, dtype: int64

**Groupby (BIVARIATE)**

In [6]:
biometric.groupby(
    ['state','date']
)['total_biometric'].sum()

state                      date
Andaman & Nicobar Islands  2025-03-01    209
                           2025-04-01    184
                           2025-05-01    180
                           2025-06-01    140
                           2025-07-01    259
                                        ...
odisha                     2025-11-12      1
                           2025-11-25      1
                           2025-12-03      1
                           2025-12-08      2
west Bengal                2025-09-11      1
Name: total_biometric, Length: 3984, dtype: int64

**Groupby (Multivariate)**

In [10]:
bio_grouped = biometric.groupby(
    ['state','district','pincode','date'],
    as_index=False
)['total_biometric'].sum()
bio_grouped.head()

                       state  district  pincode       date  total_biometric
0  Andaman & Nicobar Islands  Andamans   744101 2025-03-01              209
1  Andaman & Nicobar Islands  Andamans   744101 2025-04-01              184
2  Andaman & Nicobar Islands  Andamans   744101 2025-05-01              140
3  Andaman & Nicobar Islands  Andamans   744101 2025-06-01              140
4  Andaman & Nicobar Islands  Andamans   744101 2025-07-01              259

**Save grouped output **

In [9]:
bio_grouped.to_csv('biometric_grouped.csv', index=False)